html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9ffff;
}

bt{
    font-size: 20px;
}

h5{
    float: left;
}

.menu{
    list-style:none;
    text-align: right;
    color: #f84242;
    background: rgba(225, 251, 252, 0.46);
}

li{
    display: inline-block;
    margin-top: 30px;
}

a{
    text-decoration:none;
}
a:link { color:#000000;}
a:visited { color:#000000;} 
a:hover { color: #ffffff;}

#main{
    text-align: center;

}

#hito{
   
}

table{
    margin-left: 40px;
    text-align: left;
    font-size: 20px;
    border-spacing: 15px 10px; 
}

#content{
    text-align: center;
}

p{
    font-size: 25px;
}

h2{
    color:  #f9ffff;
}

h1{
    font-size: 35px;
}

button.button8 {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    color: #fff;
    border-style: none;
    box-shadow: 2px 2px 3px 1px #666;

    -moz-box-shadow: 2px 2px 3px 1px #666;
   -webkit-box-shadow: 2px 2px 3px 1px #666;

    text-shadow: 1px 1px 2px #000;
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
button.button8:hover {
    opacity: 0.8;
}
